@import 'nib'
@import 'lost'
@import 'rupture'

body
  background-color lightblue

nav#site-header
  ul
    edit()
    list-style-type none
  li
    display inline
  a
    text-decoration none

#site
  margin 20px
  padding 20px
  border white
  border-style solid
  border-width 4px
  border-radius 25px

#main
  clearfix()

#menu
  column('1/3')
#content
  column('2/3')




/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your stylus files automatically */
// injector
// endinjector
